<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Red Ciudadana" />

	<!-- Stylesheets
	============================================= -->
	<!-- / -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	

    {% block head %}
    {% endblock %}

</head>

<body class="stretched search-overlay">
	
		
		{% block content %}

        {% endblock %} 
	

    {% block body_javascripts %}

    {% endblock %}

	<script>
      if (window.netlifyIdentity) {
          window.netlifyIdentity.on('init', (user) => {
          if (!user) {
              window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
              });
          }
          });
      }
    </script>
    
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	</body>
</html>
