---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Red Ciudadana - Portal Anticorrupción</title>

{% endblock %}

{% block content %}      
            
            <!-- breadcrumb-area-start -->
            <div class="breadcrumb-area pt-150 pb-0" style="background-image:url(/assets/img/SLIDER/P_ANTICO-03.png)">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="breadcrumb-text text-center" style="padding: 0 2rem">
    
    							<h1 class="text-white" style="font-size:50px">Portal Anticorrupción de Guatemala (PAG)</h1>

                                <p class="text-white" style="font-size:20px; font-weight:0">
                                    Encuentre información relevante para la lucha contra la corrupción en el país. Con el Portal Anticorrupción todos somos auditores y guardianes de lo público.
                                </p>

                                <form action="#">
                                    <div class="input-group">
                                        <input type="search" id="gsearch" name="gsearch" placeholder="Buscar conjuntos de datos...">
                                        <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        
                    </div>
                </div>

                <div class="sub_header">
                    <div class="row my-6 px-6 h-80 justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-4 mb-0">
                            <div class="d-flex align-items-center text-left justify-content-center">
                                <img src="/assets/img/ICONOS/P_ANTICO-04.png" alt="cabildeo">
                                <div>
                                    <h6 class="mb-2">Registro de Cabildeo</h6>
                                    <p>Datos de Registro</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 mb-0">
                            <div class="d-flex align-items-center text-left justify-content-center">
                                <img src="/assets/img/ICONOS/P_ANTICO-05.png" alt="contratos">
                                <div>
                                    <h6 class="mb-2">Registro de Contratos</h6>
                                    <p>Datos de Transacción</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 mb-0">
                            <div class="d-flex align-items-center text-left justify-content-center">
                                <img src="/assets/img/ICONOS/P_ANTICO-06.png" alt="finanzas">
                                <div>
                                    <h6 class="mb-2">Finanzas de Partido</h6>
                                    <p>Datos de Divulgación pública</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- features-area-start -->
            <div class="features-02-area pb-90 pt-50"  style="background-color: #e0e0e8">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-xl-10 col-lg-10 mx-auto">
                            <div class="single-features mb-40 text-center ">
                                <div class="section-title mb-20">
                                    <h2 style="font-size: 25px!important;">Conjuntos de Datos</h2>
                                    <div class="linea"></div>
                                    <p>Selección y analiza los 30 conjunto de datos que son considerados prioritarios para la construcción de una infraestructura de datos contra la corrupción.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        {% for conjunto in collections.conjuntos | limit(4) %}
                        <div class="col-lg-3 mb-20">
                            <a href="{{conjunto.data.enlace}}" target="_blank"><div class="feature">
                                <img style="width: 60px;margin-right: 5px;" src="{{conjunto.data.icono}}">
                                <div class="feature_text">
                                    <h6>{{conjunto.data.title}}</h6>
                                    <p>{{conjunto.data.institucion}}</p>
                                </div>
                            </div></a>
                        </div>
                        {% endfor %}
                       
                    </div>
                    <div class="row my-4">
                        <div class="col-lg-12 text-center">
                            <a href="/conjuntos/index.html" class="btn">Ver todos los conjuntos de datos</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- features-area-end -->

            <!-- features-area-start -->
            <div class="features-02-area pb-90 pt-50">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-xl-10 col-lg-10 mx-auto">
                            <div class="single-features mb-40 text-center ">
                                <div class="section-title mb-20">
                                    <h2 style="font-size: 25px!important;">¿Cómo está el avance del PIDA en Guatemala?</h2>
                                    <div class="linea"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-20">
                            <div class="flourish-embed flourish-chart" data-src="visualisation/16103380"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- features-area-end -->

            <!-- counter-area-start -->
            <div class="counter-area pt-125 pb-95" style="background-color: #e0e0e8">
                <div class="container">
                    <div class="row px-2">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="section-title mb-20">
                                <h2 style="font-size: 45px!important;">Denuncia de hechos de corrupción</h2>
                                <div class="linea2"></div>
                                <h6 style="font-size: 25px!important;font-weight:100!important">Puedes denunciar de manera segura cualquier irregularidad que conozca.</h6>
                                <br><br>
                                <a class="btn" href="#">Realiza tu denuncia <i class="fa-solid fa-right-long"></i></a>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <img src="/assets/img/IMAGEN/P_ANTICO-31.png">
                        </div>
                    </div>
                </div>
            </div>
            <!-- counter-area-end -->

{% endblock %}

{% block body_javascripts%}
        <script src="/assets/js/popup.js"></script>
        <script src="/assets/js/popup2.js"></script>
{% endblock %}