---
pagination:
  data: instituciones
  size: 1
  alias: instituciones
  addAllPagesToCollections: true
permalink: "instituciones/{{instituciones.name | slug}}/index.html"
tags:
  - instituciones
---
{% extends "src/base.njk" %}

{% block head %}
    <title>Catálogo de Trámites | {{instituciones.name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script>

        function showall() {
            var todos = document.getElementById("servicios_full")
            var parte = document.getElementById("servicios_part")
            var boton = document.getElementById("vermas")
            if (todos.style.display == "none"){
                parte.style.display = "none"
                todos.style.display = "flex"
                boton.innerHTML = "Ver menos"
            }
            else {
                parte.style.display = "flex"
                todos.style.display = "none"
                boton.innerHTML = "Ver más"
            }
        }

    </script>
{% endblock %}

{% block content %}
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                    <span></span> <a href="/instituciones/index.html" >Instituciones</a>
                    <span></span> <a href="/instituciones/index.html" >{{instituciones.type}}</a>
                    <span></span> {{instituciones.name}}
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="archive-header-2 text-center">
                    <h4 class="display-4 " style="width:80%; margin:0 auto 50px auto">{{instituciones.name}}
                    </h4>
                    <div class="d-flex justify-content-center">
                        <h5 class="display-9 mb-40 " style="width:75%">{{instituciones.description}}</h5>
                    </div>
                    {% set cuenta = 0 %}
                    {% for servicio in collections.servicios%}
                    {% if instituciones.name == servicio.data.servicio.institution.name%}
                    {% set cuenta = cuenta + 1 %}
                    {% endif %}
                    {% endfor %}
                    {% if cuenta == 1%}
                        <h6 class="text-body mb-40">La institución cuenta con {{ cuenta }} trámite en el catálogo.</h6>
                    {% endif %}
                    {% if cuenta != 1%}
                        <h6 class="text-body mb-40">La institución cuenta con {{ cuenta }} trámites en el catálogo.</h6>
                    {% endif %}
                    

                </div>

                <div class="row vendor-grid" id="servicios_part">
                {% set cuentaserv = 1 %}
                {% for servicio in collections.servicios%}

                {% if instituciones.name == servicio.data.servicio.institution.name%}
                {% if cuentaserv <= 12 %}
                {% set cuentaserv = cuentaserv + 1 %}
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="vendor-wrap mb-40">
                            <div class="vendor-img-action-wrap">
                                <div class="vendor-img">
                                    <a href="{{servicio.url}}">
                                        {% for cat in collections.categorias2%}
                                        {%for catesp in collections.categoriaesp2 %}
                                        {% if catesp.data.categoriaesp2.name == servicio.data.servicio.subcategory.name %}
                                        {% if cat.data.categoria2.id == catesp.data.categoriaesp2.category | lastSlash %}
                                            {% if cat.data.categoria2.id == "27" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-41.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "28" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-35.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "29" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-47.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "30" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-36.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "31" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-48.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "32" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-37.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "33" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-45.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "34" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-40.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "35" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-39.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "36" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-34.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "37" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-46.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "38" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-44.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "39" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-32.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "40" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-43.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "41" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-42.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "42" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-38.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "43" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-33.png" alt="" />
                                            {%endif%}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Trámite</span>
                                </div>
                            </div>
                            <div class="vendor-content-wrap">
                                <div class="d-flex justify-content-between align-items-end mb-30">
                                    <div class="custom-overflow-hidden">
                                        <h4 class="mb-5"><a href="{{servicio.url}}">{{servicio.data.servicio.name}}</a></h4>
                                    </div>
                                </div>
                                <div class="vendor-info mb-30">
                                    <ul class="contact-infor text-muted overflow-hidden" style="height:70px">
                                        <li><p class="text-overflow2" >{{servicio.data.servicio.description}}</p></li>
                                    </ul>
                                </div>
                                <a href="{{servicio.url}}" class="btn btn-xs">Ver Trámite <i class="fi-rs-arrow-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end vendor card-->
                
                {% endif %}
                {% endif %}

                {% endfor %}
                </div>

                <div class="row mt-40 mb-40 justify-content-center">
                    <div chlass="col-lg-6 col-sm-12" style="text-align:center!important">
                        <button id="vermas" onclick="showall()" class="btn" style="width:270px!important">Ver más</button>
                    </div>
                </div>

                <div class="row vendor-grid" id="servicios_full" style="display:none">
                {% for servicio in collections.servicios%}

                {% if instituciones.name == servicio.data.servicio.institution.name%}
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="vendor-wrap mb-40">
                            <div class="vendor-img-action-wrap">
                                <div class="vendor-img">
                                    <a href="{{servicio.url}}">
                                        {% for cat in collections.categorias2%}
                                        {%for catesp in collections.categoriaesp2 %}
                                        {% if catesp.data.categoriaesp2.name == servicio.data.servicio.subcategory.name %}
                                        {% if cat.data.categoria2.id == catesp.data.categoriaesp2.category | lastSlash %}
                                            {% if cat.data.categoria2.id == "27" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-41.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "28" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-35.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "29" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-47.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "30" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-36.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "31" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-48.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "32" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-37.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "33" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-45.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "34" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-40.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "35" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-39.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "36" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-34.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "37" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-46.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "38" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-44.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "39" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-32.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "40" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-43.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "41" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-42.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "42" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-38.png" alt="" />
                                            {%endif%}
                                            {% if cat.data.categoria2.id == "43" %}
                                                <img class="default-img" src="/ELEMENTOS/ELEMENTOS MEJORAS/NEWICONS/ICONOS-33.png" alt="" />
                                            {%endif%}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Trámite</span>
                                </div>
                            </div>
                            <div class="vendor-content-wrap">
                                <div class="d-flex justify-content-between align-items-end mb-30">
                                    <div class="custom-overflow-hidden" style="height:60px">
                                        <h4 class="mb-5"><a href="{{servicio.url}}">{{servicio.data.servicio.name}}</a></h4>
                                    </div>
                                </div>
                                <div class="vendor-info mb-30">
                                    <ul class="contact-infor text-muted overflow-hidden" style="height:70px">
                                        <li><p class="text-overflow2" >{{servicio.data.servicio.description}}</p></li>
                                    </ul>
                                </div>
                                <a href="{{servicio.url}}" class="btn btn-xs">Ver Trámite <i class="fi-rs-arrow-small-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end vendor card-->
                
                {% endif %}

                {% endfor %}
                </div>

                

                

            </div>
        </div>
{% endblock %}
